<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/index">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Ordenes</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="orders">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Pedidos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="orders">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/control/order/active">Pedidos activos</a></li>
          <li class="nav-item"> <a class="nav-link" href="/control/order/completed"> Pedidos completados</a></li>
          <li class="nav-item"> <a class="nav-link" href="/control/order/newOrder"> Crear pedido</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Producción</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#production" aria-expanded="false" aria-controls="production">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Producción</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="production">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/control/client/all">Clientes</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/control/product/all">Productos</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/control/material/all">Materiales</a></li>
        </ul>
      </div>
    </li>


    <li class="nav-item nav-category">Empresa</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#business" aria-expanded="false" aria-controls="business">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Empresa</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="business">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/user/users">Usuarios</a></li>
        </ul>
      </div>
    </li>


  </ul>
</nav>