<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404</title>
  <link rel="stylesheet" href="../static/vendors/feather/feather.css">
  <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../static/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../static/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../static/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/css/vertical-layout-light/style.css">
  <!-- endinject -->

  <link rel="shortcut icon" href="../static/images/favicon.png" />
</head>


<body>
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">403</h1>
    <p class="fs-3"> <span class="text-danger">Opps!</span>La página tiene acceso restringido.</p>
    <p class="lead">
      La página que buscas tiene restricciones. Contactar con el administrador de sistemas.
    </p>
    <a href="/" class="btn btn-primary">Ir al dashboard</a>
  </div>
</div>
</body>


</html>